@import url("https://fonts.googleapis.com/css2?family=Karla:wght@400;700&display=swap");

body {
  font-family: "Karla", sans-serif;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 1240px;
  padding: 0 20px;
  margin: 0 auto;
}

.banner {
  height: 676px;
  background-image: url("../assets/images/home/home-banner.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.banner-inner {
  padding: 40px 0;
}
.banner .logo {
  width: 570px;
  padding-bottom: 30px;
  margin: 0 auto;
}
.banner .logo img {
  width: 100%;
}

.banner .banner-content {
  width: 100%;
  display: flex;
  justify-content: space-between;
  position: relative;
}
.banner-content .left-content {
  width: 490px;
  padding-top: 20px;
}
.banner-content .left-content h3 {
  font-size: 40px;
  font-weight: 600;
  line-height: 100%;
  letter-spacing: normal;
  color: #23627c;
  margin-bottom: 10px;
}
.banner-content .left-content p {
  font-size: 20px;
  font-weight: 400;
  line-height: 100%;
  letter-spacing: normal;
  color: #23627c;
  margin-bottom: 10px;
}
.banner-content .left-content .discover_btn {
  display: inline-block;
  width: 218px;
  margin-top: 30px;
  padding: 20px;
  background-color: #23627c;
  border-radius: 20px;
  text-align: center;
  align-self: center;
  font-size: 24px;
  font-weight: 400;
  line-height: 100%;
  letter-spacing: normal;
  color: #ffffff;
  text-decoration: none;
}

.banner-content .right-content {
  width: 205px;
  position: absolute;
  right: 0;
  bottom: -45px;
}
.right-content a {
  padding: 5px 0;
  border-bottom: 1px solid #23627c;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-decoration: none;
}
.right-content a span {
  font-size: 24px;
  font-weight: 400;
  line-height: 100%;
  letter-spacing: normal;
  color: #23627c;
}

/* slider */
.slider-section {
  padding: 80px 0;
  background-color: #ffffff;
}

.slider-section h2 {
  font-size: 40px;
  font-weight: 600;
  color: #23627c;
  margin-bottom: 50px;
  text-align: left;
}
.swiper {
  width: 100%;
  height: auto;
  overflow: visible;
}

.swiper-slide {
  width: 280px !important;
  height: 400px !important;
  background: #d9d9d9;
  overflow: hidden;
  padding: 24px;
  height: auto;
}
.swiper-slide:last-child {
  margin-right: 0 !important;
}

.slider-item-image {
  width: 100%;
  height: 270px !important;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  overflow: hidden;
}

.slider-item-image img {
  width: 100%;
}

.slider-item-content {
  padding: 0 0 20px 0;
}

.slider-item-icons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 15px;
  margin-bottom: 10px;
}

.icon-placeholder1 {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 10px;
}
.icon-placeholder1 img,
.icon-placeholder2 img {
  cursor: pointer;
}

.slider-item-content h4 {
  font-size: 13px;
  font-weight: 600;
  color: #000000;
  line-height: 100%;
  letter-spacing: 0%;
  margin: 0;
}

.slider-item-content p {
  font-size: 13px;
  font-weight: 400;
  color: #000000;
  line-height: 100%;
  letter-spacing: 0%;
  margin: 0;
}

.slider-controls {
  display: flex;
  justify-content: center;
  gap: 15px;
  margin-top: 40px;
}

.slider-btn {
  width: 50px;
  height: 50px;
  border: 2px solid #23627c;
  background: white;
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease;
}

.slider-btn:hover {
  background: #23627c;
  color: white;
}

.slider-btn.active {
  background: #23627c;
  color: white;
}
