/* product-details-top */
.product-details-top .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
}
.product-details-top .title {
  font-size: 48px;
  font-weight: 600;
  line-height: 100%;
  letter-spacing: 0%;
  color: #000;
}
.product-details-top .sorting {
  position: relative;
}
.product-details-top .sorting .sorting-img {
  cursor: pointer;
}
.product-details-top .sorting .sorting-drop-down {
  position: absolute;
  right: 0;
  width: 200px;
  background-color: #dbe0e2;
  padding: 10px 8px;
  display: flex;
  flex-direction: column;
  display: none;
  transition: all ease 0.3s;
}
.product-details-top .sorting .sorting-drop-down a {
  font-size: 20px;
  font-weight: 400;
  line-height: 40px;
  color: #000;
  text-decoration: none;
  cursor: pointer;
}
.product-details-top .filter-icon {
  display: none;
}

/* main area */
.main-area {
  padding-top: 20px;
  background-color: #fff;
}
.main-area .container {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  padding-bottom: 60px;
}
/* sidebar */
.sidebar {
  max-width: 25%;
  width: 100%;
  height: fit-content;
  padding: 0 10px 0 0;
}

.filter-section {
  margin-bottom: 30px;
}

.filter-section:last-child {
  margin-bottom: 0;
}

.filter-title {
  font-size: 24px;
  font-weight: 400;
  color: #000;
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}

.filter-title .arrow {
  transform: rotate(0deg);
  transition: transform 0.3s ease;
}

.filter-title.collapsed .arrow {
  transform: rotate(180deg);
}

/* Price Filter Styles */
.price-filter {
  padding: 10px 0;
  margin-bottom: 20px;
}

.price-display {
  width: 100px;
  box-sizing: border-box;
  margin: 0 auto;
  background-color: #23627c;
  color: #fff;
  padding: 20px 24px;
  border-radius: 40px;
  margin-bottom: 20px;
  font-size: 20px;
  text-align: center;
  font-weight: 400;
  letter-spacing: 0%;
}

.price-range {
  position: relative;
  height: 20px;
  background: #bcced6;
  border-radius: 10px;
  margin-bottom: 20px;
}

.price-range input[type="range"] {
  position: absolute;
  width: 100%;
  height: 20px;
  top: 0;
  background: none;
  pointer-events: auto;
  -webkit-appearance: none;
  appearance: none;
  outline: none;
  cursor: pointer;
}

.price-range input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  height: 24px;
  width: 24px;
  border-radius: 50%;
  margin-top: -2px;
  margin-left: -2px;
  background: #134d64;
  cursor: pointer;
  border: 8px solid white;
  pointer-events: auto;
  box-shadow: 0 0 0 8px rgba(19, 77, 100, 0.1);
}

.price-range input[type="range"]::-moz-range-thumb {
  height: 24px;
  width: 24px;
  border-radius: 50%;
  background: #134d64;
  cursor: pointer;
  border: 8px solid white;
  pointer-events: auto;
  box-shadow: 0 0 0 8px rgba(19, 77, 100, 0.1);
}

.range-track {
  position: absolute;
  height: 20px;
  background: #4a7c8a;
  border-radius: 10px;
  top: 0;
}

.separator {
  width: 20px;
  height: 2px;
  background: #bcced6;
  margin: 0 5px;
}

.price-inputs {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  margin-top: 15px;
}
.price-inputs img {
  width: 16px;
  height: 2px;
}

.price-input {
  width: 120px;
  box-sizing: border-box;
  padding: 20px 24px;
  border: 2px solid #8b8b8b;
  border-radius: 40px;
  font-size: 16px;
  font-weight: 400;
  line-height: 100%;
  text-align: center;
  color: #8b8b8b;
}
.price-input[readonly] {
  background-color: #f5f5f5;
  cursor: not-allowed;
}

.price-input:focus {
  outline: none;
}
.filter-content {
  display: none;
}

/* price filter styles */

.price-range-filter {
  padding: 10px 0;
}

.price-range-filter .price-range-options {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.price-range-filter .price-range-options ul {
  margin-block-start: 0 !important;
  margin-block-end: 0 !important;
  padding-inline-start: 20px !important;
}

.price-range-filter .price-range-options ul li {
  list-style: none;
  padding: 4px 0;
}

.price-range-filter .price-range-option {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.price-range-filter .price-range-label {
  font-size: 20px;
  color: #000;
  font-weight: 400;
  text-transform: capitalize;
}

.price-range-option.selected .price-range-label {
  font-weight: 600;
}

/* Color Filter Styles */
.color-filter {
  padding: 10px 0;
}

.color-filter .color-options {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.color-filter .color-options ul {
  margin-block-start: 0 !important;
  margin-block-end: 0 !important;
  padding-inline-start: 20px !important;
}
.color-filter .color-options ul li {
  list-style: none;
  padding: 4px 0;
}

.color-filter .color-option {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.color-filter .color-label {
  font-size: 20px;
  color: #000;
  font-weight: 400;
  text-transform: capitalize;
}
.color-option.selected .color-label {
  font-weight: 600;
}

/* product list */
.main-area .product-list {
  max-width: 75%;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
  padding: 0 10px;
}

.product-list .product-item {
  padding: 22px 22px 11px;
  border-radius: 6px;
  background-color: #dbe0e2;
  cursor: pointer;
}
.product-item img {
  width: 100%;
  height: 200px;
}
.product-item .product-content {
  padding: 5px 0;
  margin: 0;
}
.product-item .product-content .name {
  font-size: 28px;
  font-weight: 400;
  line-height: 100%;
  letter-spacing: 0%;
  color: #000;
  margin: 0 !important;
  margin-bottom: 5px !important;
}
.product-item .product-content .price {
  font-size: 20px;
  font-weight: 500;
  font-weight: 500;
  line-height: 100%;
  letter-spacing: 0%;
  color: #000;
  margin: 0 !important;
  margin-bottom: 5px !important;
}
.product-item .product-content .color-selection {
  display: flex;
  gap: 8px;
  margin-bottom: 5px;
}

.product-item .product-content .color-option {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: none;
  cursor: pointer;
  transition: all 0.2s ease;
}
.product-item .product-content .color-option.selected {
  border: 1px solid gray;
}

.product-content .color-gold {
  background-color: #ffd700;
}

.product-content .color-silver {
  background-color: #c0c0c0;
}
.product-content .color-rose-gold {
  background-color: #e8b4a0;
}

.product-item .quantity img {
  width: 15px;
  height: auto;
}
.product-item .quantity {
  padding: 10px 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #d9d9d9;
  border-radius: 6px;
}

.product-item .quantity-btn {
  width: 30px;
  height: 30px;
  border: none;
  background-color: transparent;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}
.product-item .quantity p {
  font-size: 20px;
  font-weight: 400;
  line-height: 100%;
  letter-spacing: 0%;
  color: #000;
  margin: 0 !important;
}

/* responsive */

@media (max-width: 1024px) {
  .main-area .product-list {
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 991px) {
  .product-details-top {
    background-color: #dbe0e2;
  }
  .product-details-top .container {
    padding: 10px 30px;
  }

  .breadcrumb {
    display: none;
  }

  .product-details-top .sorting {
    display: none;
  }
  .product-details-top .filter-icon {
    display: block;
  }
  .main-area {
    background-color: #dbe0e2;
  }
  .product-list .product-item {
    background-color: #fff;
  }
}

@media (max-width: 768px) {
  .main-area {
    padding-bottom: 0px;
  }
  .main-area .product-list {
    max-width: 100%;
    width: 100%;
    box-sizing: border-box;
    grid-template-columns: 1fr 1fr;
    margin: 0 auto;
  }
  .product-details-top .title {
    font-size: 40px;
}
  .footer {
    background-color: #fff;
    padding: 40px 0;
    margin: 0;
  }
}

@media (min-width: 400px) and (max-width: 576px) {
  .main-area .product-list {
    grid-template-columns: 1fr 1fr;
  }
  .product-item img {
    width: 100%;
    height: auto;
  }
  .product-item .product-content .name {
    font-size: 24px;
  }
}
@media (max-width: 480px) {
  .product-item .product-content .name {
    font-size: 20px;
  }
}

@media (max-width: 420px) {
  .main-area .product-list {
    grid-template-columns: 1fr;
    max-width: 100%;
  }
  .product-item .product-content .name {
    font-size: 24px;
  }
}
