@import url("https://fonts.googleapis.com/css2?family=Karla:wght@400;700&display=swap");

body {
  font-family: "Karla", sans-serif;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 1240px;
  padding: 0 20px;
  margin: 0 auto;
}
.header {
  padding: 10px 0;
  background-color: #dbe0e2;
}
.header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.second-logo {
  max-width: 320px;
  width: 100%;
}
.second-logo img {
  width: 100%;
}

/* breadcrumb */
.breadcrumb .container {
  display: flex;
  justify-content: start;
  gap: 5px;
  padding: 10px 20px;
}
.breadcrumb .container a {
  font-size: 15px;
  font-weight: 400;
  line-height: 100%;
  letter-spacing: 0%;
  color: #000;
  text-decoration: none;
}

/* product-details-top */
.product-details-top .container {
  display: flex;
  justify-content: space-between;
  padding: 10px 20px;
}
.product-details-top .title {
  font-size: 48px;
  font-weight: 600;
  line-height: 100%;
  letter-spacing: 0%;
  color: #000;
}
.product-details-top .sorting {
  position: relative;
}
.product-details-top .sorting .sorting-img {
  cursor: pointer;
}
.product-details-top .sorting .sorting-drop-down {
  position: absolute;
  right: 0;
  width: 150px;
  background-color: #dbe0e2;
  padding: 10px 5px;
  display: flex;
  flex-direction: column;
  gap: 5px;
  display: none;
  transition: all ease 0.3s;
}
.product-details-top .sorting .sorting-drop-down a {
  font-size: 14px;
  font-weight: 400;
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

/* main area */
.main-area {
  padding-top: 20px;
  background-color: #fff;
}
.main-area .container {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}
/* sidebar */
.main-area .sidebar {
  max-width: 25%;
  width: 100%;
  height: fit-content;
  padding: 0 10px 0 0;
}

.filter-section {
  margin-bottom: 30px;
}

.filter-section:last-child {
  margin-bottom: 0;
}

.filter-title {
  font-size: 24px;
  font-weight: 400;
  color: #000;
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}

.filter-title .arrow {
  transform: rotate(0deg);
  transition: transform 0.3s ease;
}

.filter-title.collapsed .arrow {
  transform: rotate(180deg);
}

/* Price Filter Styles */
.price-filter {
  padding: 10px 0;
}

.price-display {
  width: 100px;
  box-sizing: border-box;
  margin: 0 auto;
  background-color: #23627c;
  color: #fff;
  padding: 20px 24px;
  border-radius: 40px;
  margin-bottom: 20px;
  font-size: 20px;
  text-align: center;
  font-weight: 400;
  letter-spacing: 0%;
}

.price-range {
  margin-bottom: 15px;
}

.price-slider {
  width: 100%;
  box-sizing: border-box;
  height: 20px;
  border-radius: 10px;
  background: #bcced6;
  outline: none;
  position: relative;
}

.price-slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #134d64;
  cursor: pointer;
  border: 8px solid white;
}

.price-slider::-moz-range-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #134d64;
  cursor: pointer;
  border: 8px solid white;
  /* border: 8px solid #2280EF33 */
}

.price-inputs {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  margin-top: 15px;
}
.price-inputs img {
  width: 16px;
  height: 2px;
}

.price-input {
  width: 120px;
  box-sizing: border-box;
  padding: 20px 24px;
  border: 2px solid #8b8b8b;
  border-radius: 40px;
  font-size: 16px;
  font-weight: 400;
  line-height: 100%;
  text-align: center;
  color: #8b8b8b;
}

.price-input:focus {
  outline: none;
}
.filter-content {
  display: none;
}

/* Color Filter Styles */
.color-filter {
  padding: 10px 0;
}

.color-filter .color-options {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.color-filter .color-options ul {
  margin-block-start: 0 !important;
  margin-block-end: 0 !important;
  padding-inline-start: 20px !important;
}
.color-filter .color-options ul li {
  list-style: none;
  padding: 4px 0;
}

.color-filter .color-option {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.color-filter .color-label {
  font-size: 20px;
  color: #000;
  font-weight: 400;
  text-transform: capitalize;
}

/* product list */
.main-area .product-list {
  max-width: 75%;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
  padding: 0 10px;
}

.product-list .product-item {
  padding: 22px 22px 11px;
  border-radius: 6px;
  background-color: #dbe0e2;
}
.product-item img {
  width: 100%;
  height: 200px;
}
.product-item .product-content {
  padding: 5px 0;
  margin: 0;
}
.product-item .product-content .name {
  font-size: 28px;
  font-weight: 400;
  line-height: 100%;
  letter-spacing: 0%;
  color: #000;
  margin: 0 !important;
  margin-bottom: 5px !important;
}
.product-item .product-content .price {
  font-size: 20px;
  font-weight: 500;
  font-weight: 500;
  line-height: 100%;
  letter-spacing: 0%;
  color: #000;
  margin: 0 !important;
  margin-bottom: 5px !important;
}
.product-item .product-content .color-selection {
  display: flex;
  gap: 8px;
  margin-bottom: 5px;
}

.product-item .product-content .color-option {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: none;
  cursor: pointer;
  transition: all 0.2s ease;
}
.product-content .color-gold {
  background-color: #ffd700;
}

.product-content .color-silver {
  background-color: #c0c0c0;
}
.product-item .quantity img {
  width: 15px;
  height: auto;
}
.product-item .quantity {
  padding: 10px 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #d9d9d9;
  border-radius: 6px;
}

.product-item .quantity-btn {
  width: 30px;
  height: 30px;
  border: none;
  background-color: transparent;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}
.product-item .quantity p {
  font-size: 20px;
  font-weight: 400;
  line-height: 100%;
  letter-spacing: 0%;
  color: #000;
  margin: 0 !important;
}

/* footer */
.footer {
  background-color: #dbe0e2;
  margin-top: 60px;
  padding: 60px 0;
}
.footer-inner .list-head {
  font-size: 32px;
  font-weight: 700;
  line-height: 100%;
  letter-spacing: 0%;
  color: #000;
}
.footer-inner ul {
  padding-inline-start: 0px !important;
}
.footer-inner ul li {
  list-style: none;
  padding-bottom: 5px;
}

.footer-inner ul li a {
  text-decoration: none;
  font-size: 24px;
  font-weight: 400;
  line-height: 100%;
  letter-spacing: 0%;
  color: #000;
}

/* responsive */

@media (max-width: 1024px) {
  .main-area .product-list {
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 768px) {
  .header .container {
    display: none;
  }
  .header .mobile-navbar {
    padding: 10px 20px;
  }
  .main-area .sidebar {
    width: 100%;
    display: none;
  }
  .main-area .product-list {
    max-width: 100%;
        width: 100%;
        box-sizing: border-box;
    grid-template-columns: 1fr 1fr;
    margin: 0 auto;
  }
}

@media (max-width: 480px) {
  .footer-inner .list-head {
    font-size: 24px;
  }
  .footer-inner ul li a {
    font-size: 20px;
  }
}
